<settings>
    <setting id="Enable.ThumbnailLandscape" type="bool">false</setting>
    <setting id="Disable.InfoWallView" type="bool">false</setting>
    <setting id="Disable.NextView" type="bool">false</setting>
    <setting id="Enable.ShiftDescription" type="bool">false</setting>
    <setting id="Enable.FanartFanart" type="bool">false</setting>
    <setting id="Disable.WallView" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="EnableWeatherNotifications" type="bool">false</setting>
    <setting id="InfoWall.LargeIcons" type="bool">false</setting>
    <setting id="EnableNextAiredNotifications" type="bool">false</setting>
    <setting id="Disable.AutoComplete" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="Enable.PanelLogo" type="bool">false</setting>
    <setting id="Enable.IconLandscape" type="bool">false</setting>
    <setting id="Disable.PanelView" type="bool">false</setting>
    <setting id="Enable.HomeTopbar" type="bool">false</setting>
    <setting id="Enable.WallLogo" type="bool">false</setting>
    <setting id="Enable.ShiftPlot" type="bool">false</setting>
    <setting id="Disable.PosterView" type="bool">false</setting>
    <setting id="Disable.TimelineView" type="bool">false</setting>
    <setting id="Overlay.Unwatched" type="bool">true</setting>
    <setting id="KioskMode.Enabled" type="bool">true</setting>
    <setting id="VideoInfoPlotToggle" type="bool">false</setting>
    <setting id="Enable.Landscape.Art" type="bool">false</setting>
    <setting id="Overlay.Watched" type="bool">true</setting>
    <setting id="weatherfanart.multi" type="bool">false</setting>
    <setting id="Disable.BigListView" type="bool">false</setting>
    <setting id="SkinHelper.DisableHoursDuration" type="bool">false</setting>
    <setting id="Enable.HomeFanartOverlay" type="bool">false</setting>
    <setting id="Enable.BigListThumb" type="bool">false</setting>
    <setting id="Disable.NowView" type="bool">false</setting>
    <setting id="Skin.ToggleDebug" type="bool">false</setting>
    <setting id="Enable.FanartLogo" type="bool">false</setting>
    <setting id="Disable.WidgetLimit" type="bool">false</setting>
    <setting id="Enable.BigListLogo" type="bool">false</setting>
    <setting id="InfoWall.Banners" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="Enable.ThumbnailFanart" type="bool">false</setting>
    <setting id="Disable.WeatherClockDate" type="bool">true</setting>
    <setting id="Disable.AnimateFanart" type="bool">false</setting>
    <setting id="Disable.ThumbnailView" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="Enable.Extra.Fanart" type="bool">false</setting>
    <setting id="Enable.IconLogo" type="bool">false</setting>
    <setting id="disablecontext:script.playrandomvideos" type="bool">false</setting>
    <setting id="musicviz.background" type="bool">false</setting>
    <setting id="Enable.WallBanner" type="bool">false</setting>
    <setting id="Disable.GalleryView" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="InfoWall.Logo" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Enable.AutoScroll" type="bool">true</setting>
    <setting id="Enable.ShiftLandscape" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="ColorCustomizer.Enabled" type="bool">false</setting>
    <setting id="Disable.AutoScroll" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">true</setting>
    <setting id="Disable.ResumableOverlay" type="bool">false</setting>
    <setting id="Disable.ShowCaseView" type="bool">false</setting>
    <setting id="Enable.PersistentWidgets" type="bool">false</setting>
    <setting id="Disable.Videoinfo" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="Disable.ShiftView" type="bool">false</setting>
    <setting id="Disable.EpisodeView" type="bool">false</setting>
    <setting id="SkinHelper.EnableAddonsLookups" type="bool">false</setting>
    <setting id="Enable.ShowcaseWrap" type="bool">false</setting>
    <setting id="SmartShortcuts.netflix" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="Enable.BigListPoster" type="bool">false</setting>
    <setting id="Disable.SubmenuSlide" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="Enable.BasicWeatherView" type="bool">false</setting>
    <setting id="Disable.LowPanelView" type="bool">false</setting>
    <setting id="Enable.SettingsPanelView" type="bool">false</setting>
    <setting id="Enable.2ColumnList" type="bool">false</setting>
    <setting id="Enable.ShiftFanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="Enable.UnwatchedOverlay" type="bool">false</setting>
    <setting id="WidgetStyle" type="bool">false</setting>
    <setting id="Disable.Quicknav" type="bool">false</setting>
    <setting id="Enable.WideList" type="bool">false</setting>
    <setting id="Disable.MainQuicknav" type="bool">false</setting>
    <setting id="Disable.WidgetAutoScroll" type="bool">false</setting>
    <setting id="Disable.Musicinfo" type="bool">false</setting>
    <setting id="Enable.WeatherInMenu" type="bool">false</setting>
    <setting id="Enable.WidgetLimit" type="bool">false</setting>
    <setting id="Enable.VizInfo" type="bool">false</setting>
    <setting id="Disable.Fanart" type="bool">false</setting>
    <setting id="Disable.LowListView" type="bool">false</setting>
    <setting id="Enable.MediaFlags" type="bool">false</setting>
    <setting id="BigAssLabel" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="Overlay.Resumable" type="bool">true</setting>
    <setting id="Disable.WatchedOverlay" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="Enable.IconBanner" type="bool">false</setting>
    <setting id="Enable.WallLandscape" type="bool">false</setting>
    <setting id="Enable.VizPersistent" type="bool">false</setting>
    <setting id="Enable.CenteredMenu" type="bool">false</setting>
    <setting id="Enable.ShiftVidFanart" type="bool">false</setting>
    <setting id="Enable.PanelFanart" type="bool">false</setting>
    <setting id="Enable.FanartLandscape" type="bool">false</setting>
    <setting id="Disable.IconView" type="bool">false</setting>
    <setting id="Disable.FanartView" type="bool">false</setting>
    <setting id="Disable.NextAired" type="bool">true</setting>
    <setting id="PictureInfo.Disabled" type="bool">false</setting>
    <setting id="Enable.CombineMenus" type="bool">false</setting>
    <setting id="Disable.ShowcaseInfopanel" type="bool">false</setting>
    <setting id="Enable.MenuIcons" type="bool">false</setting>
    <setting id="Enable.BigListFanart" type="bool">false</setting>
    <setting id="Enable.HorizontalMenu" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="Enable.WideMenuItems" type="bool">false</setting>
    <setting id="Enable.ThumbnailLogo" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="Disable.SongView" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="EnableArtworkDownloader" type="bool">false</setting>
    <setting id="SkinHelper.PicturesBackgroundPath" type="string"></setting>
    <setting id="Music.Fallback" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="SkinHelper.ForcedViews.images" type="string"></setting>
    <setting id="weathericons.path" type="string"></setting>
    <setting id="HomeLayout" type="string">3</setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.playlists" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="SkinHelper.CustomStudioImagesPath" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">10</setting>
    <setting id="textcolor.name" type="string">FFE8E8E8</setting>
    <setting id="menucolor.name" type="string">FFE8E8E8</setting>
    <setting id="busyloader" type="string">special://skin/extras/spinners/Segments.png</setting>
    <setting id="videoinfo_traileraction" type="string"></setting>
    <setting id="CustomBackground" type="string">special://skin/backgrounds/default_bglogo.jpg</setting>
    <setting id="SkinHelper.CustomPicturesBackgroundPath" type="string"></setting>
    <setting id="dialogcolor.name" type="string">FF57A4CB</setting>
    <setting id="backgroundcolor.name" type="string">FF0A1F2A</setting>
    <setting id="SkinHelper.ForcedViews.episodes" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="disabledcolor.name" type="string">FF606060</setting>
    <setting id="SkinHelper.ForcedViews.addons" type="string"></setting>
    <setting id="CustomOverlay" type="string"></setting>
    <setting id="Pictures.Fallback" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.setmovies" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.seasons" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.programs" type="string"></setting>
    <setting id="highlightcolor.name" type="string">FF23729B</setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="HomeLayout.label" type="string">Vertical menu</setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="CustomHomeSlideshow" type="string"></setting>
    <setting id="MusicLibraryPath" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.pictures" type="string"></setting>
    <setting id="musicvis.background" type="string">fanart</setting>
    <setting id="SkinHelper.ForcedViews.tvshows" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
</settings>
