[Unit]
Description = CloneZilla Backup Script

[Service]
Type=oneshot
ExecStart=/home/htpc/.kodi/addons/script.clonezillabackup/bin/clonezillabackup.sh