[Unit]
Description=Run reflector weekly

[Timer]
OnCalendar=weekly
RandomizedDelaySec=12h
Persistent=true
WakeSystem=true

[Install]
WantedBy=timers.target