[Unit]
Description = Unit Failure Notification Service
After = network-online.target

[Service]
Type=oneshot
ExecStart=/home/htpc/HTPCGit/scripts/failure-notification.sh %I